
<div class="container">
    <div class='card' style="width: 100%; background-color:#FFFDD0;">
        <div  class='col col-sm order-sm-first col-md'>
            <div class='media'>
            
            
                <img class='d-flex mr-3 img-thumbnail align-self-center' src='assets/images/shubham1.jpg' alt='Shubham'>";
               
                <div class='media-body' style='text-align: center;'>
                
               
                 <h2 style='font-family: Cambria, Cochin, Georgia, Times, serif'>Shubham(<span style='color: blue;'>PCCOE</span>)</h2>
                
                <hr>
                
                <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        color: cornflowerblue;">Hello my name is shubham kadam, recently studying in Pimpri Chinchwad College Of Engineering
                        Akurdi. I am from Chinchwad,Pune. Playing Chess is my hobby.</p>
                
            </div>
        </div>
        
    
    </div>
</div>
